<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="js">
    <!-- jQuery -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <!-- Bootstrap -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- FastClick -->
    <script th:src="@{/js/fastclick.js}"></script>
    <!-- NProgress -->
    <script th:src="@{/js/nprogress.js}"></script>
    <!-- bootstrap-progressbar -->
    <script th:src="@{/js/bootstrap-progressbar.min.js}"></script>
    <!-- iCheck -->
    <script th:src="@{/js/icheck.min.js}"></script>
    <!-- bootstrap-daterangepicker -->
    <script th:src="@{/js/moment.min.js}"></script>
    <script th:src="@{/js/daterangepicker.js}"></script>
    <!-- bootstrap-wysiwyg -->
    <script th:src="@{/js/bootstrap-wysiwyg.min.js}"></script>
    <script th:src="@{/js/jquery.hotkeys.js}"></script>
    <script th:src="@{/js/prettify.js}"></script>
    <!-- Chart.js -->
    <script th:src="@{/js/Chart.min.js}"></script>
    <!-- jQuery Sparklines -->
    <script th:src="@{/js/jquery.sparkline.min.js}"></script>
    <!-- Flot -->
    <script th:src="@{/js/jquery.flot.js}"></script>
    <script th:src="@{/js/jquery.flot.pie.js}"></script>
    <script th:src="@{/js/jquery.flot.time.js}"></script>
    <script th:src="@{/js/jquery.flot.stack.js}"></script>
    <script th:src="@{/js/jquery.flot.resize.js}"></script>
    <!-- Flot plugins -->
    <script th:src="@{/js/jquery.flot.orderBars.js}"></script>
    <script th:src="@{/js/jquery.flot.spline.min.js}"></script>
    <script th:src="@{/js/curvedLines.js}"></script>
    <!-- DateJS -->
    <script th:src="@{/js/date.js}"></script>
    <!-- jQuery Tags Input -->
    <script th:src="@{/js/jquery.tagsinput.js}"></script>
    <!-- Switchery -->
    <script th:src="@{/js/switchery.min.js}"></script>
    <!-- Select2 -->
    <script th:src="@{/js/select2.full.min.js}"></script>
    <!-- Parsley -->
    <script th:src="@{/js/parsley.min.js}"></script>
    <!-- Autosize -->
    <script th:src="@{/js/autosize.min.js}"></script>
    <!-- jQuery autocomplete -->
    <script th:src="@{/js/jquery.autocomplete.min.js}"></script>
    <!-- starrr -->
    <script th:src="@{/js/starrr.js}"></script>
    <!-- Datatables -->
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/js/buttons.bootstrap.min.js}"></script>
    <script th:src="@{/js/buttons.flash.min.js}"></script>
    <script th:src="@{/js/buttons.html5.min.js}"></script>
    <script th:src="@{/js/buttons.print.min.js}"></script>
    <script th:src="@{/js/dataTables.fixedHeader.min.js}"></script>
    <script th:src="@{/js/dataTables.keyTable.min.js}"></script>
    <script th:src="@{/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/js/responsive.bootstrap.js}"></script>
    <script th:src="@{/js/dataTables.scroller.min.js}"></script>
    <script th:src="@{/js/jszip.min.js}"></script>
    <script th:src="@{/js/pdfmake.min.js}"></script>
    <script th:src="@{/js/vfs_fonts.js}"></script>


    <!-- Custom Theme Scripts -->
    <script th:src="@{/js/custom.min.js}"></script>

</div>